#!/bin/bash
# A basic service management script
#
# chkconfig: 123 69 68
# description: Backend API for the BuffBus app

if [ -f /etc/init.d/functions ]; then
    . /etc/init.d/functions
fi

IMAGE_NAME='buffbus-image'
CONTAINER_NAME='buffbus-server'

if [[ $EUID -ne 0 ]]; then
    echo "Docker requires root access to run" 1>&2
    exit 1
fi

usage() {
    echo "Usage: $0 {build|start|restart|stop|shell}"
    return 0
}

build() {
    echo -e "Building $IMAGE_NAME...\n"
    sudo docker build -t $IMAGE_NAME .
    return $?
}

start() {
    echo -e "Starting $CONTAINER_NAME...\n"
    if ! `docker images | grep -q $IMAGE_NAME`; then
        build
    fi
    if `docker ps | grep -q $CONTAINER_NAME`; then
        stop
    fi
    docker run \
   	 --name $CONTAINER_NAME -h $CONTAINER_NAME \
        -v `pwd`:/go/src/buffbus/ \
        -p 8080:8080 \
        -d -t $IMAGE_NAME
    return $?
}

restart() {
    echo -e "Restart $CONTAINER_NAME...\n"
    docker restart $CONTAINER_NAME
    return $?
}

stop() {
    echo -e "Stopping $CONTAINER_NAME...\n"
    docker rm -f $CONTAINER_NAME &>/dev/null
    if [ $? -eq 0 ]; then
        echo "$CONTAINER_NAME was killed"
    else
        echo "$CONTAINER_NAME was not found"
    fi
    return $?
}

shell() {
    docker exec -it $CONTAINER_NAME /bin/bash
    return $?
}


case $1 in
    build)
        build
        ;;
    start)
        start
        ;;
    restart)
        restart
        ;;
    stop)
       stop
        ;;
    shell)
        shell
        ;;
    *)
        usage
        ;;
esac
exit $?
